{% extends "layout.html" %}
{% block content %}

<br>
<h1 style="padding-left: 20px;">Data Table: Staphylococcus aureus</h1>
 <br>
<div class="container">
    <table id="example" class="display" width="100%"></table>
</div>      


<script>
    
$(document).ready(function () {
    $('#example').DataTable({
        data: {{data_stap|tojson}},
        columns: [
            { title: 'cenmigID' },
            { title: 'BioProject' },
            { title: 'BioSample' },
            { title: 'Instrument' },
            { title: 'Organism' },
            { title: 'Country' },
            { title: 'Collection Date' },
        
        ],
    });
});

</script>
{% endblock %}
    