<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CENMIG Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand">CENMIG Database</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/download_Data">Download Data</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/download_sequences">Download Sequences</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bacteria</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/bac_tb">Mycobacterium tuberculosis</a></li>
                  <li><a class="dropdown-item" href="/bac_salmo">Salmonella enterica</a></li>
                  <li><a class="dropdown-item" href="/bac_salmo_subsp">Salmonella enterica subsp. enterica serovar</a></li>
                  <li><a class="dropdown-item" href="/bac_stap">Staphylococcus aureus</a></li>
                  <li><a class="dropdown-item" href="/bac_strep">Streptococcus agalactiae</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api_doc">API doc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main>
      <br>
      <br>
      
        {% block content%}
        {% endblock %}
      </main>
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        
        <!-- Section: Links  -->
        <section class="" style="padding-top: 5px;">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>CENMIG Database
                </h6>
                <p>
                  This Website create for access  CENMIG Database.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="https://www.ncbi.nlm.nih.gov/" class="text-reset">NCBI</a>
                </p>
                <p>
                  <a href="https://www.ebi.ac.uk/" class="text-reset">EMBL-EBI</a>
                </p>
                <p>
                  <a href="https://microbiology.sc.mahidol.ac.th/cenmig/" class="text-reset">CENMIG</a>
                </p>
                <!-- <p>
                  <a href="#!" class="text-reset">Help</a>
                </p> -->
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i>B600A/2 B buliding, Faculty of Science, Mahidol University</p>
              
                <p><i class="fas fa-phone me-3"></i> (+66)2-201-5548</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright: This Website Create by T
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>